{% extends "base.html" %}

{% block body %}

<h1><a href="{{ seed.url }}">{{ seed.title }}</a></h1>
{% for question in seed.question_set.all %}
    <h2>{{ question.text }}</h2>
    <div class="row">
    {% for reply in question.reply_set.all %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <video width="100%" src="{{ reply.video.url }}" controls></video>
          <div class="caption">
            <small>Reply by {{ reply.user }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <a href="#" class="add-reply btn btn-warning" data-submiturl="{% url 'create_reply' question_id=question.id %}">
      Submit your reply
    </a>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>

$('.add-reply').click(function(){
  setRecorder($(this).data('submiturl'));
  $("#record-modal").modal();
});
</script>
{% endblock %}