{% extends "base.html" %}



{% block body %}

  <div class="jumbotron explainer">
    <h1>Kudzu - Video commenting</h1>

    <p>Kudzu allows journalists and readers to engage in short, focused discussions through integration of video comments.</p>

    <p>
      <a href="#comments" class="btn btn-success btn-lg">
        Jump straight to comments
      </a>
    </p>

    <p>Our demo illustrates this through integration with Vine, a mobile platform for video sharing, but we've also prototyped a browser-based comment recording system. Vine videos are restricted to 6 seconds duration, which encourages more focused, higher-quality submissions.</p>

    <p>This should facilitate increased user engagement - especially Vine, which targets younger and more mobile-focused audiences. It should also encourage higher comment quality and easier verification of commenter identity. In the browser-based version, face recognition could also be incorporated to reduce spam.</p>

    <p>The newsroom gains a more visible and engaged readership, better targeted feedback on their articles, and the possibility to integrate user-generated commentary in the form of e.g. mashups, debates, etc.</p>

    <h2>Considerations</h2>

    <ul>
      <li>Audio/Video playback will work in Firefox and Safari</li>
      <li>Demo of Vine video record assumes a link between the user's vine account and the commenting site, as such this demo is hardcoded to one account. Not yours.</li>
      <li>Adding your own comment redirects only in IOS devices.</li>
    </ul>


    <p><a href="https://www.youtube.com/watch?v=MSj1U5ed02o">Watch a video demo of our Vine demo</a> or <a href="http://kudzu.herokuapp.com/seed/1/">see our WebRTC video recording demo</a></p>

    <p>Thanks to Tiffany Conroy, Marcos Vanetta, Sebastian Horn and Friedrich Lindeberg for contributing content, and to GEN for having us participate in the <a href="http://www.globaleditorsnetwork.org/programmes/editors-lab/season-2013-2014/editors-lab-hackdays-final/">Barcelona Hackday</a></p>

    <p>Thanks from us, <br> Kate McCurdy, Annabel Church, Stefan Wehrmeyer.</p>

    <p>Our previous project <a href="newsreadsus.okfn.de">News Reads us</a>, made at the Berlin Hackday by Annabel Church, Stefan Wehrmeyer and Friedrich Lindenburg.</p>

  </div>

  <img class="fake-article" src="{{ STATIC_URL }}img/crop-article-uber.png" >

  <div id="comments" class="kudzu-content">
    <section>
      <div class="question">
        <a class="vine-link" href="#" data-vineurl="https://vine.co/v/MjTqVLKbPZB/embed/simple?audio=1">
          <img src="http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO" class="thumb">
          <i class="fa fa-play-circle-o"></i>
        </a>

        <p>Does Uber's tax situation affect your decision to use their service?</p>
        <p><a class="add-response" href="vine://"><i class="fa fa-plus"></i> Add your response</a></p>

      </div>

      <div class="responses">
       <!--  <i class="fa fa-angle-left"></i> -->
        <div class="response">
          <a class="vine-link" href="#" data-vineurl="https://vine.co/v/Mj2Eg20H0DK/embed/simple?audio=1">
            <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/85F94DA1951089138401296715776_1402645031261_imagec6df6a8f54.jpg?versionId=AzpYgkQZstjssLpLRWsQjIbbxm7D2Iqb" class="thumb">
            <i class="fa fa-play-circle-o"></i>
          </a>
        </div>
        <div class="response">
          <a class="vine-link" href="#" data-vineurl="https://vine.co/v/MjEut0h7agJ/embed/simple?audio=1">
            <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/E4D38276E31089177221861638144_2d8e570a14d.0.4.11160525932476356517.mp4.jpg" class="thumb">
            <i class="fa fa-play-circle-o"></i>
          </a>
        </div>
      </div>
    </section>


    <section>
      <div class="question">
        <a class="vine-link" href="#" data-vineurl="https://vine.co/v/MjTbMW2Thlz/embed/simple?audio=1">
          <img src="http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO" class="thumb">
          <i class="fa fa-play-circle-o"></i>
        </a>


        <p>Would you use Uber instead of a regulated cab?</p>
        <p><a href="vine://"><i class="fa fa-plus"></i> Add your response</a></p>

      </div>
      <div class="responses" id="latest-question">
        <div class="response">
          <a class="vine-link" href="#" data-vineurl="https://vine.co/v/Mj2EBwYAu0m/embed/simple?audio=1">
            <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/A4C66835BE1089138092751081472_2cbb799f74c.0.4.13427551953898438796.mp4.jpg?versionId=cQh173CmU_Fiqvi9lkSmMHu4nRHApsGd" class="thumb">
            <i class="fa fa-play-circle-o"></i>
          </a>
        </div>

        <div class="response">

          <a class="vine-link" href="#" data-vineurl="https://vine.co/v/Mj0YjtWJYUr/embed/simple?audio=1">
            <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/E056C4DDE71089173584036904960_1402653366567_image.jpg?versionId=HxWwGfY55VHNZjXJCD.YPZV7mR10RKss" class="thumb">
            <i class="fa fa-play-circle-o"></i>
          </a>

        </div>
      </div>

    </section>

    <div class="embed">
          <div class="modal fade" id="vine-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 -->
              <div class="modal-body kudzu-modal-body">
                <iframe id="vine-embed" width="600" height="600" frameborder="0"></iframe>
              </div>

            </div>
          </div>
        </div>
    </div>

{% endblock body %}

{% block scripts %}

  <script>
  $(document).on('click', '.vine-link', function(e){
    e.preventDefault();
    $('#vine-embed').attr('src', $(this).data('vineurl'));
    $('#vine-modal').modal();
  });

  var getLatestVideo = function(callback) {
    $.getJSON('/user/1088831847787839488/latest').then(function(response){
      callback(response.data.records[0]);
    });
  };

  var pageOpened = new Date(), lastVineId;

  $(window).on('pageshow', function(){
    getLatestVideo(function(data){
      console.log(data);
      var parts = data.shareUrl.split('/')
      var vineId = parts[parts.length - 1];
      var lastCreated = new Date(data.created);
      if (lastCreated < pageOpened) {
        return;
      }
      if (lastVineId !== undefined && lastVineId === vineId) {
        return;
      }
      lastVineId = vineId;
      $('#latest-question').prepend(
      '<div class="response"><a class="vine-link" href="#" data-vineurl="https://vine.co/v/' + vineId + '/embed/simple?audio=1"><img  data-toggle="modal" data-target="#myModal" src="' + data.thumbnailUrl + '" class="thumb"> <i class="fa fa-play-circle-o"></i> </a></div>');
    });
  });

  $('#vine-modal').on('hidden.bs.modal', function (e) {
    $('#vine-embed').attr('src', '');
  });
  </script>
{% endblock %}