{% extends "base.html" %}

{% block body %}
  <img class="fake-article" src="{{ STATIC_URL }}img/crop-article-uber.png" >

  <div class="kudzu-content">
<!--
1088884611867918336
http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO
1088884596210286592
http://v.cdn.vine.co/r/thumbs/3960FF5FCC1088884585498292224_2.0.4.12181401598917393456.mp4.jpg?versionId=aqF1FF9BrLDgPD7v48V0tV10ylTSe6_C
1088884443940528128
http://v.cdn.vine.co/r/thumbs/E881CD53341088884443122380800_2.0.4.7022555708980302017.mp4.jpg?versionId=HeojYEwhg9A5nqpGPxkT7hcGVhHF0O9Z
1088884374684180480
http://v.cdn.vine.co/r/thumbs/A79D66D21A1088884372482002944_2.0.4.18051798158888363888.mp4.jpg?versionId=.bwNGOxy0SGRUj4lHIvwztWhaO3wXiEP


-->
    <section>
      <div class="question">
        <img src="http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO" class="thumb">
        <i class="fa fa-play-circle-o"></i>
        <p>Does Uber's tax situation affect your decision to use their service?</p>
        <div class="embed">

        </div>
      </div>

      <div class="responses">
        <div class="response">
          <img src="http://v.cdn.vine.co/r/thumbs/E881CD53341088884443122380800_2.0.4.7022555708980302017.mp4.jpg?versionId=HeojYEwhg9A5nqpGPxkT7hcGVhHF0O9Z">
          <iframe class="vine-embed" src="https://vine.co/v/bjpPT1xwg6B/embed/simple" width="200" height="200" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
        </div>

        <p></p>
      </div>
      <div class="summary">
        <p></p>
      </div>
    </section>
  </div>
{% endblock body %}

{% block scripts %}

{% endblock %}