{% extends "base.html" %}

{% block body %}
  <img class="fake-article" src="{{ STATIC_URL }}img/crop-article-uber.png" >

  <div class="kudzu-content">
    <section>
      <div class="question">
        <a class="vine-link" href="#" data-vineurl="https://vine.co/v/MjTbMW2Thlz/embed/simple">
          <img src="http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO" class="thumb">
        </a>

        <i class="fa fa-play-circle-o"></i>
        <p>Does Uber's tax situation affect your decision to use their service?</p>
        <p><a href="vine://"><i class="fa fa-plus"></i> Add your response</a></p>
        <div class="embed">
          <div class="modal fade" id="vine-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 -->
              <div class="modal-body">
                <iframe id="vine-embed" width="600" height="600" frameborder="0"></iframe>
              </div>

            </div>
          </div>
        </div>

        </div>
      </div>

      <div class="responses">
        <p>Responses</p>
       <!--  <i class="fa fa-angle-left"></i> -->
        <div class="response">

          <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/85F94DA1951089138401296715776_1402645031261_imagec6df6a8f54.jpg?versionId=AzpYgkQZstjssLpLRWsQjIbbxm7D2Iqb" class="thumb">
          <i class="fa fa-play-circle-o"></i>

        </div>
        <div class="response">

          <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/85F94DA1951089138401296715776_1402645031261_imagec6df6a8f54.jpg?versionId=AzpYgkQZstjssLpLRWsQjIbbxm7D2Iqb" class="thumb">
          <i class="fa fa-play-circle-o"></i>

        </div>
        <div class="response">

          <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/85F94DA1951089138401296715776_1402645031261_imagec6df6a8f54.jpg?versionId=AzpYgkQZstjssLpLRWsQjIbbxm7D2Iqb" class="thumb">
          <i class="fa fa-play-circle-o"></i>

        </div>
       <!--  <i class="fa fa-angle-right"></i> -->
      </div>
      <div class="summary">
        <p></p>
      </div>
    </section>


    <section>
       <div class="question">
        <a class="vine-link" href="#" data-vineurl="https://vine.co/v/MjTbMW2Thlz/embed/simple">
          <img src="http://v.cdn.vine.co/r/thumbs/811CC0AA3D1088884611008065536_2.0.4.10630072758353922212.mp4.jpg?versionId=nFJzCnkjoTFIJO.bxHp7mVaDFauNJMiO" class="thumb">
        </a>

        <i class="fa fa-play-circle-o"></i>
        <p>Would you use Uber instead of a regulated cab?</p>
        <p><a href="vine://"><i class="fa fa-plus"></i> Add your response</a></p>
        <div class="embed">
          <div class="modal fade" id="vine-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
 -->
              <div class="modal-body">
                <iframe id="vine-embed" width="600" height="600" frameborder="0"></iframe>
              </div>

            </div>
          </div>
        </div>

        </div>
      </div>

      <div class="response">

          <img  data-toggle="modal" data-target="#myModal" src="http://v.cdn.vine.co/r/thumbs/85F94DA1951089138401296715776_1402645031261_imagec6df6a8f54.jpg?versionId=AzpYgkQZstjssLpLRWsQjIbbxm7D2Iqb" class="thumb">
          <i class="fa fa-play-circle-o"></i>

        </div>

    </section>
  </div>
{% endblock body %}

{% block scripts %}

  <script>
  $('.vine-link').click(function(){
    $('#vine-embed').attr('src', $(this).data('vineurl'));
    $('#vine-modal').modal();
  });
  </script>
{% endblock %}